<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <link href="C:\Users\amanv\OneDrive\Desktop\NetMax\nodejs\project\node_modules\bootstrap\dist\css\bootstrap.min.css" rel="stylesheet">
    <style>
        .red{
            background-color:red
        }
        .green{
            background-color: green;
        }
        .center{
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="container" style="display: flex;flex-wrap:wrap; ">
        <% for(let num of data) { %>
            <div class="card" style="width: 18rem; border:solid; margin: 10px;">
                <img src="<%= num.image %>" style="width: 200px;" class="card-img-top center" alt="...">
                <div class="card-body">
                  <h5 class="card-title"><%= num.title %></h5>
                  <h5 class="card-title <%= num.price<=50 ? 'green' : 'red' %>"><%= num.price %></h5>
                  <!-- <p class="card-text"><%= num.description %></p> -->
                </div>
              </div>

            <% }%>

            

    </div>
</body>
</html>